obj
bin
Bin
Bin/*
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.suo
*.cache
~$*
*.suo
*.hbm.xml
*.orig
*.user
Visual Studio 2010/
*.Publish.xml
packages/NHibernateProfiler.1.0.0.920/tools/log.txt

Sample.Mvc3/GoCardlessAppSettings.config
GoCardlessSdk.Tests/test-results/
