@using System.Collections
@helper Dump(object model)
    {
        Func<object, bool> isOfSimpleType = o =>
        {
            if (o == null)
            {
                return true;
            }
            var type = o.GetType();
            return type.IsPrimitive
                   || type == typeof(string)
                   || type == typeof(decimal)
                   || type == typeof(DateTimeOffset)
                ;
        };
        if (model is IEnumerable)
        {
            int item = 0;
            foreach (var m in (IEnumerable)model)
            {
    <h3>
        Item @(item++)</h3>
    @Dump(m)
            }
        }
        else
        {
            var props = model.GetType().GetProperties();
    <table>
        <tr>
            <th>
                Property
            </th>
            <th>
                Value
            </th>
        </tr>
        @foreach (var prop in props)
        {
            <tr>
                <td>@prop.Name
                </td>
                <td>
                    @{
               var value = prop.GetValue(model, new object[0]);
               if (isOfSimpleType(value))
               {
                        @value
               }
               else
               {
                        @Dump(value)
               }
                    }
                </td>
            </tr>
        }
    </table>
        }
}
